<div class="text-center">
  <h1>神社登録</h1>
    <div style="color: #ff0000;">
　    <h6>
　    ※一度登録した神社は編集・削除ができません。<br>
　    ※登録済みの神社は登録できません。<br>
　    ※神社名、住所は省略せずに正しく入力してください。
　    </h6>
　  </div>
</div>
<%= render "shrine_form" %>